extends layout

block content
	h4(style="text-align:center")
		| Admin Page!
	nav.breadcrumb
		span.breadcrumb-item.active Admin Console
	.list-group
		a.list-group-item.list-group-item-action(href='/admin/allusers') List of users
		a.list-group-item.list-group-item-action(href='#') List of comments	
		a.list-group-item.list-group-item-action(href='/admin/allreviews') List of reviews
	.list-group(style="margin-top:30px")
		a.list-group-item.list-group-item-action(href='/admin/add_comments') Add source code + comments
		a.list-group-item.list-group-item-action(href='/admin/allproducts') List of products
