extends layout

block content
    h3.
        Review:

    .col-sm-12
        p
            strong Product Name:
            | Blah blah
            br
            strong Ratings:
            | Blah blah
            br
            strong Summary:
            | Blah Blah

        #wrap
            textarea hello stack overflow world textarea hello stack overflow worldhello stack overflow world textarea hello stack overflow worldhello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world hello stack overflow world textarea hello stack overflow world 
    br
    h3.
        Label:
    .col-sm-12
