extends layout

block content
    pre(style='max-height: 400px;').codeSnippet
        code#myCodeFrame.language-java
    
    h4(style='margin-top: 50px') Current comment
    p#myComment(style='background-color: #EEEEEE; color:green') #{sourceData[0].comments[0].text}

    #div1
        span(style='margin-top: 30px;') Browse comments
        button#btnPrevComment(style='margin: 5px').btn.btn-warning.btn-md Prev
        button#btnNextComment(style='margin: 5px').btn.btn-warning.btn-md Next

    #div2(style='display:inline')
        span(style='margin-top: 25px;') Useful?
        button#btnA(style='margin: 5px').btn.btn-success.btn-md yes
        button#btnB(style='margin: 5px').btn.btn-danger.btn-md no

    #divSrcNav
        span(style='margin-top: 50px;') Browse source code
        button#btnPrevSrc(style='margin: 5px').btn.btn-warning.btn-md Prev Source
        button#btnNextSrc(style='margin: 5px').btn.btn-warning.btn-md Next Source
        
    form(style='margin-top: 50px', action="/addAnnotation" method="post")
        input#actData.form-control(type='hidden' name='activityData')
        button.btn.btn-lg(type='submit') Submit
        
    script(src='/js/prism.js')
    script.
        var sourceObj = !{JSON.stringify(sourceData)};
        var currUserId = '#{user._id}';
    script(src='/js/code_comments.js')
