extends layout

block content
    if error
        span.badge.badge-danger Access Denied
    h4.
        Welcome! #{user.local.email}
    h3.
        Please select what module you want to work on below!
    .row
        .col-sm-6
            .container
                .jumbotron
                    h3 Code Comments
                    p
                        | Some description
                    p
                        a.btn.btn-primary(href='/codecomments', role='button') Work on it now »
        .col-sm-6
            .container
                .jumbotron
                    h3 Amazon Reviews
                    p
                        | Some description
                    p
                        a.btn.btn-primary(href='/amzreviews', role='button') Work on it now »
                
