extends layout

block content
  h1= title
  h3= "For annotation of sample comments by reviewers"

  hr
  
  p Already signed up? 
      a(href="/login") Login
  p First time here? 
      a(href="/signup") Sign-up
