extends layout

block content
	h4(style="text-align:center")
		| List of Reviews!
	nav.breadcrumb
		a.breadcrumb-item(href='/admin') Admin Console
		a.breadcrumb-item(href='/admin/allreviews') List of reviews
		span.breadcrumb-item.active #{rev._id}

	#{labeled_review_data}