/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
body {
	min-height:2000px;
    padding-top: 100px;
}
textarea{
  resize: none;
  width: 100%;
  padding: 10px;
/*  border: none;*/
  height: 100%;
  margin: -10px;
}